
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 15% 10%;
    --foreground: 0 0% 100%;
    --card: 195 15% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 195 15% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 201 100% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195 15% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 195 15% 18%;
    --muted-foreground: 195 5% 70%;
    --accent: 25 100% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 15% 20%;
    --input: 195 15% 20%;
    --ring: 25 100% 40%;
    --chart-1: 201 100% 25%;
    --chart-2: 25 100% 45%;
    --chart-3: 195 10% 30%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border rounded-none;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline uppercase tracking-tight;
  }
}
